@import url('https://fonts.googleapis.com/css?family=Merriweather:700i|Montserrat:400,700|Pacifico|Roboto+Slab:400,700');
$primaryfont: "Montserrat", sans-serif;
$secondaryfont:"Roboto Slab", serif;
$logofont:"Pacifico", cursive;
$primarycolor: #fed136;
$secondarycolor: #777;