.logos {
    .wrapper {
        padding-top: 2%;
        padding-bottom: 2%;
        @include mq(sm) {
            padding-top: 5%;
            padding-bottom: 5%;
        }
    }
    text-align: center;
    vertical-align: center;
    img {
        width: 100%;
        filter: grayscale(100%);
        transition: all .3s ease-out;
        @include mq(md) {
            &:hover {
                filter: grayscale(0%);
            }
        }
        @include mq(sm) {
            filter: grayscale(0%);
            margin-top: 10%;
        }
    }
    .tuts {
        height: 70%;
        width: 70%;
    }
}